valarvoom/HELP.md
valarvoom/target/
!valarvoom/.mvn/wrapper/maven-wrapper.jar
!valarvoom/**/src/main/**/target/
!valarvoom/**/src/test/**/target/

### STS ###
valarvoom/.apt_generated
valarvoom/.classpath
valarvoom/.factorypath
valarvoom/.project
valarvoom/.settings
valarvoom/.springBeans
valarvoom/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
